@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;500;600;700&family=Poppins:wght@100;200;300;400;600;700;900&family=Roboto:wght@300;400;500&display=swap');

.wrapper {
    padding: 10px;
    min-width: 300px;
    min-height: 900px;
    height: max-content;
    font-family: 'Poppins', sans-serif;

    .center-search {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
    }

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
    }

    .icon {
        height: 65px;
        margin:0;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            width: 45px;
            height: 45px;
            margin: 0 auto;
        }
    }

    .select {
        background-color: white;
        height: 65px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 75px;
        padding: 0 10px;
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;

        &>div {
            padding: 0 5px 0 0;
            border: 1px solid #f0eff0;
            width: 70px;
            border-radius: 5px;

            ul {
                width: 100px;
            }
        }

        button {
            height: 35px;
            border: none;
            font-size: 0.875rem !important;
            padding: 0;

            span {
                padding: 0 3px;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        height: 65px;
        background: white;
        margin-top: 10px;
        position: relative;
        border-radius: 10px;
        box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;

        .input {
            position: relative;
            
            .list-of-cities {
                top: 50px;
                position: absolute;
                left: 13px;
                width: 260px;
                font-size: 12px;
                border: 1px solid #f0eff0;
                z-index: 3;
                background-color: white;
                height: auto;
                max-height: 200px;
                overflow: auto;

                &>div>p {
                    color: #323641;
                    font-family: "Poppins";
                    font-size: 0.75rem;
                    margin: 0;
                    padding: 5px;
                    cursor: pointer;
                }

                &>div>p:hover, &>div>p:active {
                    background-color: #f0eff0;
                    color: black;
                }
            }

            .list-of-cities:hover {
                background-color: white;
                color: black;
            }
        }

        .icon {
            margin: 0;
            position: absolute;
            width: 30px;
            height: 30px;
            right: 15px;
            cursor: pointer;
            background-color: white;
            z-index: 3;

            img {
                width: 20px;
                height: 20px;
                margin: 0 auto;
            }
        }
    }

    .weather-data {
        margin-top: 32px;
    }

    .ten-days-temp {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;

        span {
            font-size: 4.5rem;
            font-weight: 700;
            color: white;
            position: relative;
            line-height: 64px;

            .celsius {
                position: absolute;
                top: -20px;
                right: inherit;
                font-size: 1rem;
            }
        }
    }

    .seven-days {
        margin-top: 30px;
    }

    .seven-days-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .card-day {
            color: #5a9294;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.75rem;
            line-height: 13px;
        }

        .card-temperature {
            margin-top: 10px;
            font-weight: 700;
            color: white;
            position: relative;
            font-size: 1rem;

            .small-celsius {
                position: absolute;
                top: 1px;
                right: inherit;
                font-size: 0.75rem;
                margin-left: 2px;
            }
        }
    }

    .date-range {
        color: #5a9294;
        font-weight: 700;
        font-size: 0.75rem;
        margin-bottom: 30px;
    }

    @media only screen and (min-width: 992px) {
        position:absolute;
        top:0px;
        right:0px;
        bottom:0px;
        left:0px;
        height: auto;
        
        .search {
            width: 425px;
            height: 63px;
            margin: 200px auto auto auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
            border-radius: 10px;
        }

        .icon {
            background-color: white;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
            
        .right {
            margin-top: 0;
            padding-left: 5px;
            padding-right: 14px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0;
            box-shadow: none;

            .icon {
                width: 30px;
                height: 30px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            .input {
                .list-of-cities {
                    width: 290px;
                    left: 0;
                }
            }
        }

        .select {
            width: 70px;
            border-radius: 0;
            box-shadow: none;
            padding: 0;

            &>div {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 35px;

                ul {
                    top: 40px;
                }
            }

            button {
                height: 35px;
                justify-content: flex-start;
                align-items: center;
                padding: 0;
            }
        }

        .center-search {
            display: flex;
            flex-direction: row;
            height: 63px;
            justify-content: flex-start;
            box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
            border-radius: 10px;
        }

        .seven-days {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .celsius {
            position: absolute;
            top: 20px;
        }
    }
}
