@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;500;600;700&family=Poppins:wght@100;200;300;400;600;700;900&family=Roboto:wght@300;400;500&display=swap');

.wrapper {
    height: max-content;
    min-height: 100vh;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    // background: linear-gradient(0.25turn, #cee8f7, #e4f5ff, #fff3e3);
}

    .center-search {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;

        .icon {
            height: 65px;
            margin:0;
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                width: 45px;
                height: 45px;
                margin: 0 auto;
            }
        }

        .select {
            background-color: white;
            height: 65px;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 75px;
            padding: 0 10px;
            border-radius: 10px;

            &>div {
                padding: 0 5px 0 0;
                border: 1px solid #f0eff0;
                border-radius: 10px;
                width: 70px;


                ul {
                    width: 100px;
                }
            }

            button {
                height: 45px;
                border: none;
                font-size: 0.875rem !important;
                padding: 0;

                span {
                    padding: 0 3px;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            height: 65px;
            background: white;
            margin-top: 10px;
            border-radius: 10px;

            .input {
                padding: 15px;
                width: 300px;

                .inputWrapper {
                    border: 1px solid #f0eff0;
                    width: 100%;
                    border-radius: 10px;

                    input {
                        width: 270px;
                        z-index: 2;
                    }
                }
            }

            .icon {
                margin: 0;
                position: absolute;
                width: 40px;
                height: 40px;
                right: 15px;
                cursor: pointer;
                background-color: white;

                img {
                    width: 27px;
                    height: 27px;
                    margin: 0 auto;
                }
            }
        }
    }


.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;

    .icon {
        height: 65px;
        margin:0;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            width: 45px;
            height: 45px;
            margin: 0 auto;
        }
    }

    .select {
        background-color: white;
        height: 65px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 75px;
        padding: 0 10px;
        border-radius: 10px;

        &>div {
            padding: 0 5px 0 0;
            border: 1px solid lightgray;
            width: 70px;
            border-radius: 10px;

            ul {
                width: 100px;
            }
        }

        button {
            height: 45px;
            border: none;
            font-size: 0.875rem !important;
            padding: 0;

            span {
                padding: 0 3px;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        height: 65px;
        background: white;
        margin-top: 10px;
        position: relative;
        border-radius: 10px;
        
        .input {
            padding: 15px;
            width: 300px;

            .inputWrapper {
                border: 1px solid #f0eff0;
                width: 100%;
                border-radius: 10px;

                input {
                    width: 270px;
                    z-index: 2;
                }
            }
        }

        .icon {
            margin: 0;
            position: absolute;
            width: 40px;
            height: 40px;
            right: 15px;
            cursor: pointer;
            background-color: white;

            img {
                width: 27px;
                height: 27px;
                margin: 0 auto;
            }
        }
    }
}

.ten-days-temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;

    span {
        font-size: 72px;
        font-weight: 700;
        color: white;
        position: relative;

        .celsius {
            position: absolute;
            top: 20px;
            right: inherit;
            font-size: 24px;
        }
    }
}

.seven-days {
    margin-top: 20px;
}

.seven-days-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .card-day {
        color: #5a9294;
        text-transform: uppercase;
        font-weight: 700;
    }

    .card-temperature {
        margin-top: 10px;
        font-weight: 700;
        color: white;
        position: relative;

        .small-celsius {
            position: absolute;
            top: 1px;
            right: inherit;
            font-size: 12px;
        }
    }
}

.date-range {
    color: #5a9294;
    font-weight: 700;
}

  @media only screen and (min-width: 992px) {
    .search {
        width: 460px;
        height: 63px;
        margin: 200px auto auto auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
        border-radius: 10px;

        .icon {
            background-color: white;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        
        .right {
            margin-top: 0;
            padding-left: 10px;
            padding-right: 10px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0;

            .input {
                padding: 15px 0;

                .inputWrapper {
                    input {
                        padding-left: 15px;
                    }
                }
            }

            .icon {
                width: 45px;
                height: 45px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            .select {
                background-color: white;
                border-radius: 0;

                &>div {
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    button {
                        height: 35px;
                        border: 1px solid gray;
                    }
                }
                

            }
        }

        .select {
            margin-top: 0;
            border-radius: 0;

            ul {
                top: 40px;
            }
        }
        }

    .center-search {
        display: flex;
        flex-direction: row;
        height: 63px;
        justify-content: flex-start;
        box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
        border-radius: 10px;
        .icon {
            background-color: white;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .select {
            width: 70px;
            border-radius: 0;

            &>div {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 45px;

                ul {
                    top: 40px;
                }
            }

            button {
                height: 35px;
                justify-content: flex-start;
                align-items: center;
                padding: 0;
            }
        }

        .right {
            margin-top: 0;
            padding-left: 10px;
            padding-right: 10px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            .input {
                padding: 0;
                background-color: white;
                height: 45px;

                .inputWrapper {
                    input {
                        padding-left: 15px;
                        width: 95%;
                        border: none;
                    }
                }
            }

            .icon {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }

    .seven-days {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
